<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.custmanage.server.mapper.GroupDetailDataMapper">

    <select id="selectRevenues" resultType="com.custmanage.server.vo.RevenueMonthlyVO">
        SELECT
            r.id,
            r.service_id,
            s.service_code,
            s.service_name,
            r.revenue_month,
            r.revenue_amount,
            r.source_system,
            r.sync_batch_no,
            r.sync_time
        FROM t_yqyc_biz_group_revenue_monthly r
        JOIN t_yqyc_biz_service s ON s.id = r.service_id
        WHERE r.group_id = #{groupId}
        <if test="query.startMonth != null and query.startMonth != ''">
            AND r.revenue_month <![CDATA[>=]]> #{query.startMonth}
        </if>
        <if test="query.endMonth != null and query.endMonth != ''">
            AND r.revenue_month <![CDATA[<=]]> #{query.endMonth}
        </if>
        ORDER BY r.revenue_month, s.sort_no, s.id
    </select>

    <select id="selectRevenueTrend" resultType="com.custmanage.server.vo.RevenueTrendVO">
        SELECT
            r.revenue_month,
            SUM(r.revenue_amount) AS revenue_amount
        FROM t_yqyc_biz_group_revenue_monthly r
        WHERE r.group_id = #{groupId}
        <if test="query.startMonth != null and query.startMonth != ''">
            AND r.revenue_month <![CDATA[>=]]> #{query.startMonth}
        </if>
        <if test="query.endMonth != null and query.endMonth != ''">
            AND r.revenue_month <![CDATA[<=]]> #{query.endMonth}
        </if>
        GROUP BY r.revenue_month
        ORDER BY r.revenue_month
    </select>

    <select id="selectBcBusinesses" resultType="com.custmanage.server.vo.BcBusinessVO">
        SELECT
            b.id,
            b.service_id,
            s.service_code,
            s.service_name,
            b.stat_month,
            b.quantity,
            b.source_system
        FROM t_yqyc_biz_group_bc b
        JOIN t_yqyc_biz_service s ON s.id = b.service_id
        WHERE b.group_id = #{groupId}
        <if test="query.statMonth != null and query.statMonth != ''">
            AND b.stat_month = #{query.statMonth}
        </if>
        <if test="query.serviceId != null">
            AND b.service_id = #{query.serviceId}
        </if>
        ORDER BY b.stat_month DESC, s.sort_no, s.id
    </select>

    <select id="selectCompetitors" resultType="com.custmanage.server.vo.CompetitorVO">
        SELECT
            c.id,
            c.service_id,
            s.service_code,
            s.service_name,
            c.competitor_name,
            c.stat_month,
            c.quantity,
            c.remark,
            c.updated_time
        FROM t_yqyc_biz_group_competitor c
        JOIN t_yqyc_biz_service s ON s.id = c.service_id
        WHERE c.group_id = #{groupId}
        <if test="query.statMonth != null and query.statMonth != ''">
            AND c.stat_month = #{query.statMonth}
        </if>
        <if test="query.serviceId != null">
            AND c.service_id = #{query.serviceId}
        </if>
        <if test="query.competitorName != null and query.competitorName != ''">
            AND c.competitor_name = #{query.competitorName}
        </if>
        ORDER BY c.stat_month DESC, s.sort_no, c.competitor_name
    </select>
</mapper>
