<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.custmanage.server.mapper.RoleMapper">

    <select id="selectRoleCodesByUserId" resultType="string">
        SELECT r.role_code
        FROM t_yqyc_sys_role r
                 JOIN t_yqyc_sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND r.status = '启用'
          AND r.deleted_flag = 0
    </select>

    <select id="selectRoleIdsByCodes" resultType="long">
        SELECT r.id
        FROM t_yqyc_sys_role r
        WHERE r.role_code IN
        <foreach collection="roleCodes" item="code" open="(" separator="," close=")">
            #{code}
        </foreach>
          AND r.deleted_flag = 0
    </select>

</mapper>
